@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7E7E7;
    font-family: "Roboto", sans-serif;
}

#titulo {
    text-align: center;
    margin: 30px;
    font-size: 3rem;
    color: #FF9900;
}

#containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container-minha-lista {
    min-width: 500px;
}

#container-minha-lista, #container-mostrar-concluidos {
    background-color: #fff;
    margin: 10px;
    border-radius: 12px;
    padding: 20px;
    width: 320px;
}

#container-minha-lista h1, #container-mostrar-concluidos h1 {
    color: #FF9900;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#lista, #lista-concluidos {
    list-style: none;
    margin-bottom: 20px;
}

#lista li, #lista-concluidos li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.circulo {
    margin-right: 10px;
}

#lista li .texto-lembrete {
    flex: 1;
}

.texto-lembrete {
    margin-left: 10px;
}

#lista li .icons {
    display: flex;
    align-items: center;
}

.circulo, .editar, .excluir {
    cursor: pointer;
    margin-left: 10px;
}

#secao-adicionar-lembrete {
    display: flex;
}

#novo-lembrete {
    flex: 1;
    padding: 10px;
    border: 2px solid #d4d4d4;
    border-radius: 6px;
}

#botao {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #4c53ff;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.input-editar-lembrete {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #4c53ff;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
}

.concluir, #mostrar-concluidos {
    cursor: pointer;
}

